*{
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:smaller;
    
    

}

#EDUCATION{
    border:2px solid white;
    border-radius: 15px;
    padding: 10px 20px;
      margin:20px 10px;
      color:white;
      
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
      
}

button{
    background-color: brown;
    color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }

  input,select{
    border: none;
    border-bottom: 2px solid black;
    background: none;
    color: black;
    width: 40vw;
  }
  
